@page "/registerForm"
@using AutoMapper;
@using BlazorWeb.Data;
@using BlazorWeb.Extensions;
@using BlazorWeb.Service;
@inject ICustomerService customerService
<PageTitle>Register </PageTitle>
<h4 class="text-danger">@status</h4>
<EditForm Model="@customer" OnValidSubmit="@OnSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="row">
        <div class="col-4">
            <label For="@(() => customer.FirstName))">
                FirstName
            </label>
            <InputText DisplayName="" @bind-Value="customer.FirstName" />
        </div>
        <div class="col-4">
            <label For="@(() => customer.LastName))">
                LastName
            </label>
            <InputText @bind-Value="customer.LastName" />
        </div>
        <div class="col-4">
            <label For="@(() => customer.PhoneNumber))">
                PhoneNumber
            </label>
            <InputText @bind-Value="customer.PhoneNumber" />
        </div>
        <div class="col-4">
            <label For="@(() => customer.Email))">
                Email
            </label>
            <InputText @bind-Value="customer.Email" />
        </div>
        <div class="col-4">
            <label For="@(() => customer.BankAccountNumber))">
                BankAccountNumber
            </label>
            <InputNumber @bind-Value="customer.BankAccountNumber" />
        </div>
        <div class="col-4">
            <label For="@(() => customer.DateOfBirth))">
                DateOfBirth
            </label>
            <InputText @bind-Value="customer.DateOfBirth" />
        </div>
    </div>
    <button type="submit">Submit</button>
</EditForm>
@code {
    public string status { get { return _status; } set { _status = value; } }
    string _status;
    async void OnSubmit()
    {
        status = "";
        if (customer.Email.IsValidEmail() || customer.PhoneNumber.IsValidPhone() || customer.BankAccountNumber.IsValidBankCardNumber())
        {
            int id = await customerService.AddCustomer(customer, default);
            if (id > 0)
            {
                customer = new Customer();                
            }
            else
            {
                status = "Error In Save Information Please try Again Later";
            }
        }
        else
        {
            status = "Sure Email and Phone and banknumber Are Correct Format";
        }
    }
    Customer customer = new();
}